{% extends 'files/layout.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'files/style.css' %}">

{% block content %}
<h1>Zerops <span class="secondary-text">File Uploader</span></h1>
<p class="header-content">Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. This recipe aims to showcase few advanced Django concepts and how to integrate them with Zerops, all through a simple file upload demo application.</p>
<p class="header-content">Feel free to join our <a href="https://discord.gg/xxzmJSDKPT" target="_blank">Discord server</a> - Checkout our  <a href="https://docs.zerops.io" target="_blank">Docs</a></p>
{% comment %} Add Docs and Discord Server Button {% endcomment %}
<div class="form-container">
<form action="{% url 'files:upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input class="file-input" type="file" name="file"/>
    <input class="btn" type="submit" value="Upload"/>
</form>
</div>

{% if latest_files_list %}
    <div class="imgcontent">
        <div class="image-section">
            {% for file in latest_files_list %}
            <div class="images">
            <img src="{{ file.file.url }}" alt="no preview available, file is not an image" width="256"/>
            <a class="filelink" href="{% url 'files:detail' file.id %}">{{ file.file.name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <p class="nofile">No file uploaded yet.</p>
{% endif %}
    <p><a target="_blank" href="https://github.com/zeropsio/recipe-django">Source Repository</a></p>
{% endblock %}

